.button {
  position: fixed !important;
  bottom: 4px;
  left: 40%;
}

.highlight-row {
  background-color: rgba(255, 255, 0, 1) !important;
}
.highlight-col {
  background-color: rgba(255, 255, 0, 1) !important;
}
